<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD polkit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/software/polkit/policyconfig-1.dtd">
<policyconfig>

  <vendor>btrfs-assistant</vendor>
  <vendor_url>https://gitlab.com/garuda-linux/applications/btfrs-assistant</vendor_url>

  <action id="org.garuda.btfrs-assistant.pkexec.policy.run">
    <description>Run BTRFS Assistant</description>
    <message>Authentication is required to run BTRFS Assistant</message>
    <icon_name>btrfs-assistant</icon_name> 
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/btrfs-assistant</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

</policyconfig>
