#!/usr/bin/env xdg-open
[Desktop Entry]
Exec=bash -c "grep -q .snapshots /proc/cmdline && btrfs-assistant"
Icon=timeshift
Name=BTRFS Assistant Snapper check
Type=Application
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
